<!DOCTYPE html>

<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8" >

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>

<div class="jumbotron jumbotron-fluid" id="jumbobo">
    <div class="container">
        <h1>CCT</h1>
        <p>Site Officiel du CCT</p>
    </div>
</div>

<!--<nav class="navbar navbar-expand-md  navbar-dark" id="barreNav">-->
    <!--<a class="navbar-brand" href="#">Menu</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<div class="collapse navbar-collapse" id="collapsibleNavbar">-->
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<!--<br>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="container p-3 my-3">
                <h1>Menu</h1>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="container p-3 my-3">
                <h1>Joueur</h1>
                <div class="media border p-3">
                    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="js/app.js"></script>

</body>

</html>


<!--<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 1200" enable-background="new 0 0 900 900" xml:space="preserve"><path d="M80.944,16C81.908,6.669,82,0,82,0H18.001c0,0,0.091,6.669,1.056,16C12.352,16,0,16,0,16v3-->
<!--c0,36.992,26.842,46.346,35.799,48.435c3.146,3.326,6.846,5.603,11.201,6.321V81c0,7-15,13-21,13c-1.656,0-3,1.344-3,3s1.344,3,3,3-->
<!--h24h24c1.656,0,3-1.344,3-3s-1.344-3-3-3c-6,0-21-6-21-13v-7.244c4.355-0.719,8.057-2.994,11.203-6.321-->
<!--C73.162,65.344,100,55.99,100,19v-3C100,16,86.229,16,80.944,16z M6.066,22h13.697c1.598,12.098,4.637,26.756,10.402,37.428-->
<!--C20.676,55.47,7.123,45.693,6.066,22z M55.729,26.102L59.271,37L50,30.265L40.729,37l3.541-10.898L35,19.367h11.459L50,8.469-->
<!--l3.541,10.898H65L55.729,26.102z M69.836,59.428c5.766-10.672,8.805-25.331,10.4-37.428h13.697-->
<!--C92.877,45.693,79.324,55.471,69.836,59.428z"/></svg>-->